html {
    height: 100%;
}

html, body {
    min-height: 100%;
}

body {
    background: #000000;
    margin: 0;
    font-family: 'press_start_2pregular', monospace;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.easter {
    overflow: hidden;
}

.header {
    height: 200px;
    position: relative;
    background: url('../img/stars.png');
    animation: 3s linear infinite stars;
    overflow: hidden;
}

.easter .header {
    animation: none;
}

.header__spaceship {
    animation: 1s ease-in-out alternate infinite spaceship;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -68px;
}

.easter .header__spaceship {
    animation: none;
}

.header__text {
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    width: 320px;
    bottom: 12px;
    left: 50%;
    margin-left: -160px;
    user-select: none;
}

.header__name {
    font-size: 32px;
    text-transform: uppercase;
    transform: perspective(32px) rotateX(5deg);
    transform-origin: 50% 100%;
    margin-bottom: 8px;
}

.header__start {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__start-text {
    margin: 0 8px;
    animation: 1.5s linear alternate infinite blink;
}

.easter .header__start-text {
    animation: none;
}

.header__start-line {
    flex: 1;
    height: 2px;
    background: white;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin-bottom: 8px;
    flex-wrap: wrap;
}

.nav__content {
    display: flex;
    flex: 1;
}

.nav__item {
    height: 16px;
    flex: 1 1 100%;
    text-align: center;
    color: #ffffff;
    background: #bb1b1b;
    margin: 4px;
    padding: 8px;
    border-top: 4px solid #e02929;
    border-right: 4px solid #e02929;
    border-bottom: 4px solid #8f1414;
    border-left: 4px solid #8f1414;
    display: none;
}

.nav__toggle {
    display: block;
    position: relative;
}

.nav__toggle:after {
    content: "+";
    position: absolute;
    right: 8px;
}

#show-menu {
    display: none;
}

.nav__toggle-checkbox:checked ~ .nav__item {
    display: block;
}

.nav__toggle-checkbox:checked ~ .nav__toggle:after {
    content: "-";
}

.content {
    font-family: monospace;
    background: #ffffff;
    padding: 16px;
    position: relative;
    margin: 0 auto 16px;
    width: 100%;
    box-sizing: border-box;
    flex: 1;
}

.content h1,
.content h2,
.content h3,
.content h4 {
    font-family: 'press_start_2pregular', monospace;
    line-height: 150%;
}

.footer {
    text-align: center;
    color: #ffffff;
    margin-bottom: 16px;
}

.easter__overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: #000000;
    opacity: 0.9;
}

.easter__close {
    position: fixed;
    top: 50%;
    margin-top: -160px;
    right:50%;
    font-family: 'press_start_2pregular', monospace;
    color: #ffffff;
    border: none;
    background: transparent;
}

.easter__canvas {
    position: fixed;
    top: 50%;
    margin-top: -160px;
    left: 50%;
}

@media screen and (min-width: 650px) {
    .header__text {
        margin-top: -47px;
        top: 50%;
        bottom: initial;
    }

    .header__spaceship {
        top: 66px;
        left: 16px;
        margin: 0;
    }

    .nav__item {
        flex: 1;
        display: block;
    }

    .nav__toggle {
        display: none;
    }

    .content {
        border-left: 16px solid #000000;
        border-right: 16px solid #000000;
    }
}

@media screen and (min-width: 800px) {
    .header__text {
        height: 118px;
        margin-top: -66px;
        top: 50%;
        width: 480px;
        margin-left: -240px;
    }

    .header__name {
        font-size: 48px;
        transform: perspective(48px) rotateX(5deg);
    }
}

@media screen and (min-width: 992px) {
    .header__spaceship {
        top: 66px;
        left: 50%;
        margin-left: -480px;
    }

    .content {
        margin: 0 auto 16px;
        width: 960px;
        border: none;
    }
}

@media screen and (min-width: 1172px) {
    .header__spaceship {
        top: 66px;
        left: 50%;
        margin-left: -570px;
    }

    .content {
        margin: 0 auto 16px;
        width: 1140px;
        border: none;
    }
}

@media screen and (min-width: 1212px) {
    .nav:before,
    .nav:after {
        content: '';
        flex: 1;
        height: 32px;
        background: #bb1b1b;
        margin: 4px;
        border-top: 4px solid #e02929;
        border-right: 4px solid #e02929;
        border-bottom: 4px solid #8f1414;
        border-left: 4px solid #8f1414;
    }

    .nav__content {
        width: 1172px;
        flex: none;
    }
}

@font-face {
    font-family: 'press_start_2pregular';
    src: url('pressstart2p-webfont.woff2') format('woff2'),
         url('pressstart2p-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes spaceship {
    from {
        transform: translateY(-4px);
    }

    to {
        transform: translateY(4px);
    }
}

@keyframes stars {
    from {
        background-position-x: 0px;
    }

    to {
        background-position-x: -400px;
    }
}

@keyframes blink {
    from {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
